extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue-grey
      h4 Repositório CLAV
  div(style='margin:45px; padding:8px; border: 1px solid black;' onLoad='preventBack()')
    table.w3-table.w3-bordered
    tr
      th Date
      th File
      th Type
      th Size
      th Security Mode
      th
    each a in tipologias
    tr
      td= a.date
      td(onclick="showFile(\""+a.name+"\",\""+a.mimetype+"\",\""+a.autor+"\",\""+a.descricao+",\""+token+"\");")= a.name
      td= a.mimetype
      td= a.size

    footer.w3-container.w3-blue-grey(style="text-align:right")
      pre
        i(class="fa fa-address-card")   
        a(href="/users/registar") Registar